<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Connect - Bridging the Gap</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="C:/Users/aniket.wattamwar/Documents/GitHub/LAHacks2023/static/css/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <img class="card-img-top" src="./static/img/connect.png" alt="Card image" style="width:35%">
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://127.0.0.1:5000/register">Register</a></li>
        </ul>
      </div>
    </nav>
  


        {{msg}}
    <div class="container">

       <!--
      <div class="image-section"></div>

      <style>
      .image-section {
        width: 100%;
        height: 100px;
        background-image: url('https://images.unsplash.com/photo-1508020963102-c6c723be5764?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
        background-size: cover;
        background-position: center;
      }
      </style>
      -->
        <div class="row">
          <div class="col-sm-6">
          <h4 style="text-align:center">  Login </h4>
          <form action="/hotel" method="post" enctype="multipart/form-data">
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example1">Email address</label>
          <input type="email" id="form2Example1" class="form-control" name="email"/>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="form2Example2">Password</label>
          <input type="password" id="form2Example2" class="form-control" name = "password"/>
          <a href="#!">Forgot password?</a>
        </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>



 </div>
 
 <div class = "col-sm-1">
  <!--
 <h4> NGO Login </h4>
 <form action="/hotel" method="post" enctype="multipart/form-data">
 
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">Email address</label>
    <input type="email" id="form2Example1" class="form-control" name="email" />
    
  </div>

  
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" name="password"/>
    <a href="#!">Forgot password?</a>
  </div>
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

   
  <div class="text-center">
    
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div> -->
</form>


<div class="col-sm-5"> 
   
    <img src="./static/img/login.jpg">
   

</div>
 </div>
  </div>
   </div>

 
  </body>
</html>
