<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Connect - Bridging the Gap</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    
   
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <img class="card-img-top" src="./static/img/connect.png" alt="Card image" style="width:35%">
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="http://127.0.0.1:5000/login">Login</a></li>
        <li><a href="http://127.0.0.1:5000/register">Register</a></li>
      </ul>
    </div>
  </nav>

  <img style="width:100%;" src="../static/img/count.png" alt="This is an example image">

  <div class="container">
   
    <h1 style="text-align:center">EVERY YEAR....</h1>
    <div class="row text-center">
      <div class="col-sm-4" style="background-color:#f9c784">

        <h2>
            40% <br> of food produced is wasted in America
        </h2>
      </div>
      <div class="col-sm-4">
        <h2>
            24% <br> goes to landfill
        </h2>
      </div>
      <div class="col-sm-4" style="background-color:#f9c784">
        <h2>
            119 <br>  billion pounds of food is wasted
        </h2>

      </div>
    </div>
  </div>
  
      <hr>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div style="width:100%" class="container">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #ffffff"
            >
      <!-- Grid container -->
      <div style="width:100%" class="container">
        <!-- Section: Links -->
        <section class="">
   
          <div class="row">
          
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h3 class="text-uppercase">About Connect - Bridging the gap</h3>
  
              <p>
                Our mission is to reduce food waste and promote sustainable food practices by raising awareness,
                fostering partnerships, and distributing food to the needy via the help of NGOs with the coordination of Hotels and Restaurants.
                We believe that reducing food waste is not only essential for protecting the environment and conserving resources,
                but also for ensuring food security and social justice for all
              </p>
            </div>
    
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">About Us</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Our Mission</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Our Vision</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Our Partners</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Reports</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contribute</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Volunteership</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Donations</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Food Drives</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Technology Contribution</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Us</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">LinkedIn</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Mail us</a>
                </li>
                <li>
                  <a href="#!" class="text-white">YouTube</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Twitter</a>
                </li>
              </ul>
            </div>
     
  
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
  
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>
  
          <!-- Twitter -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-twitter"></i
            ></a>
  
          <!-- Google -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-google"></i
            ></a>
  
          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-instagram"></i
            ></a>
  
          <!-- Linkedin -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-linkedin-in"></i
            ></a>
  
          <!-- Github -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-github"></i
            ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  

    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->

  </body>
</html>
